$primary-color: #103c93;

.forgot-body {
  background-color: $primary-color;
}

.forgot-link {
  display: block;
  color: $primary-color;
  &:hover {
    color: lighten($primary-color, 10);
  }
}

.forgot {
  background-color: $primary-color;
  margin-top:  40px;

  .btn-forgot {
    color: white;
    background-color: initial;
    border: 1px solid white;
    margin: 10px 0;
    display: block;
  }
  .forgot-label {
    color: white;
  }

  .forgot-link {
    color: white;
    &:hover {
      text-decoration: underline;
      color: darken(white, 10);
    }
  }

  .forgot-error-message {
    color: white;
  }
}