$primary-color: #103c93;
$secondary-color: #a6c0d5;
$light-primary-color: lighten($primary-color, 15);
$yellow-button: #e69303;

.btn-login {
  color: white !important;
  border: 1px solid white !important;
  padding: 5px 10px !important;
  margin-top: 7px !important;
  &:hover {
    color: $primary-color !important;
    border: 1px solid $primary-color !important;
    background-color: white;
    cursor: pointer;
  }
}

.lola-brand {
  font-size: 32px;
  border-right: 1px solid $light-primary-color;
  &:hover {
    color: lighten(white, 10) !important;
  }
}

.lola-brand-logged-out {
  color: white !important;
}

.navbar {
  background-color: $primary-color;
  border: 0px;
  border-radius: 0px;
  box-shadow: 0px 2px 10px #333;
  margin-bottom: 0px;
}

.navbar-brand {
  color: white;
}

.search-label {
  margin-top: 12px;
  margin-left: 10px;
  font-size: 18px;
  color: white;
}

.search-box {
  background: none;
  color: white;
  border: none;
  outline: none;
  &:focus {
    border: none;
  }
}

.search-form {
  display: inline-block;
}
