$primary-color: #103c93;
$secondary-color: #8ecdf8;
$yellow-color: #e69303;

.btn-plan {
  cursor: pointer;
}

.btn-yellow {
  background-color: $yellow-color !important;
  color: white;
  &:hover {
    color: darken(white, 10);
    text-decoration: none;
  }
}

.homepage {
  margin-top: 40px;
}

.homepage-top {
  background-color: $primary-color;
  padding-top: 40px;
  .lead, .marketing, .title {
    color: white;
  }
  .marketing {
    padding-bottom: 20px;
  }
}

.homepage-two {
  .title {
    text-align: center;
    color: $primary-color;
  }

  .lead {
    color: $secondary-color;
  }

  .halo {
    color: $yellow-color;
  }

  .learn-more-double-caret {
    color: $primary-color;
  }
}

.homepage-three {
  background-color: $secondary-color;
  .title {
    text-align: center;
    color: $primary-color;
  }

  .lead {
    color: white;
  }

  .halo {
    color: white;
  }

  .learn-more-double-caret {
    color: $primary-color;
  }
}

.homepage-four {
  background-color: $primary-color;
  padding-bottom: 80px;

  .title {
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }

  .halo {
    color: white;
  }

  .homepage-plan {
    background-color: white;
    .homepage-plan-inner {
      margin: 0 15px 20px 15px;
    }
    .homepage-plan-title {
      font-size: 18px;
      color: $primary-color;
    }
    .plan-price-homepage {
      text-align: center;
      padding: 10px;
    }
    .right-side-arrow-plan {
      float: right;
      font-size: 1.5em;
    }
  }
}

.homepage-five {
  .title {
    text-align: center;
    color: $yellow-color;
    margin-bottom: 20px;
  }

  .halo {
    color: $yellow-color;
  }

  .q_and_a {
    padding-bottom: 20px;
  }

  .question {
    color: $primary-color;
    font-size: 24px;
  }

  .answer {
    color: $primary-color;
    font-size: 16px;
  }
}

.halo {
  margin: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.lead {
  font-weight: 100;
  letter-spacing: 2px;
}

.marketing {
  text-align: center;
}

.title {
  font-size: 32px;
}

.scroll-to-homepage-two {
  display: inline-block;
  text-align: center;
}
