$primary-color: #103c93;
$tertiary-color: #8ecdf8;
$yellow-color: #e69303;

.sidebar {
  background-color: $primary-color;
  width: 45px;
  height: 100%;
  position: fixed;
  left: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1040;
  box-shadow: 2px 0px 2px #888888;
  
  .brand-container {
    margin-right: auto;
    margin-left: auto;
    width: 70px;

    .lola-brand-logged-in {
      color: white;
      text-decoration: none;
      border-right: none;

      &:hover {
        color: white !important;
        text-decoration: underline;
      }
    }
  }

  .hamburger-icon {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    i {
      color: white;
    }
  }

  .sidebar-list {
    list-style: none;
    padding-left: 15%;
    color: white;
  }

  .sidebar-item {
    margin: 5px 0;
    a {
      color: white;
      // &:hover {
      // }
    }
  }

  .sidebar-organization {
    color: white;
  }

  .sidebar-organization-name {
    margin: 10px 0;
  }

  .sidebar-extra {
    display: none;
    width: 0px;
  }

  .panel {
    background-color: inherit;
    border: none;
    .panel-heading {
      color: inherit;
      background-color: inherit;
    }
    .panel-body {
      border: none !important;
    }
  }
}