$primary-color: #103c93;
$tertiary-color: #8ecdf8;
$yellow-color: #e69303;
$settings-rotation: 275deg;
$icon-size: 1.5em;
// $font-origin-position: 3px;
// $font-search-open-position: 2px;
// $font-animate-position: -5px;


.sidebar-hidden {
  margin-left: 45px;
}

.navigation-bar {
  margin-right: 45px;
}

.navbar-logged-in {
  background-color: $tertiary-color;
}

.search-logged-in-icon {
  color: $primary-color;
}

@media (max-width: 565px) {
  .search-form {
    width: 85%;
  }
  .search-bar {
    width: 50%;
  }
}

.search-label {
  width: 100%
}

.btn-logout {
  font-size: 16px;
  margin: 10px 0px;
  &:hover {
    color: white;
    cursor: pointer;
  }
}

.doesnt-float {
  float: initial !important;
}

.logged-in-list {
  li {
    display: inline-block;
  }
}

.username-logged-in {
  font-size: 16px;
  margin: 10px 10px 0 0;
  padding: 0px !important;
  color: $primary-color !important;
  &:hover {
    color: white !important;
  }
}

.plus-item {
  margin: 0 20px;
}

#search-form {
  // width: 0px;
  display: inline-block;
}

.search-box-logged-in {
  color: $primary-color;
  &::-webkit-input-placeholder {
     color: $primary-color;
  }

  &:-moz-placeholder { /* Firefox 18- */
     color: $primary-color;  
  }

  &::-moz-placeholder {  /* Firefox 19+ */
     color: $primary-color;  
  }

  &:-ms-input-placeholder {  
     color: $primary-color;  
  }
}

@media (max-width: 600px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}

.left-nav-font {
  cursor: pointer;
//   position: relative;
  // top: $font-origin-position;
}

// .font-animating-position {
//   top: $font-animate-position;
// }

// .font-search-closed-position {
//   top: $font-origin-position;
// }

// .font-search-open-position {
//   top: $font-search-open-position;
// }

.punctuation-font {
  font-size: $icon-size;
  color: $primary-color;
}

.logged-in-right {
  .dropdown-menu {
    left: -40px;
  }
  margin-top: 15px;
  li {
    i {
      font-size: $icon-size;
      color: $primary-color;
    }
  }
  .hover-list {
    li {
      display: block;
    }
  }

  .settings-button {
    margin-right: 25px;
    @media (max-width: 565px) {
      margin-right: 0px;
    }
  }
  
  .settings-icon {
    -ms-transform: rotate($settings-rotation); /* IE 9 */
    -webkit-transform: rotate($settings-rotation); /* Chrome, Safari, Opera */
    transform: rotate($settings-rotation);
  }
  .logged-in-right-text {
    color: $primary-color;
    @media (max-width: 565px) {
      display: none;
    }
  }
}

.navbar-list-dropdown {
  &:hover {
    cursor: pointer;
  }
}
