$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$primary-color: #103c93;
$secondary-color: #a6c0d5;
$yellow-button: #e69303;

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

@import "./heading.scss";
@import "./homepage.scss";
@import "./sign_up.scss";
@import "./modal_login.scss";
@import "./logged_in_navigation.scss";
@import "./forgot.scss";
@import "./sessions.scss";
@import "./logged_in_sidebar.scss";
@import "./users.scss";
@import "./dashboard.scss";


.bottom-of-page {
  border-top: none !important;
  background-color: $primary-color;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
// .header {
//   border-bottom: 1px solid #e5e5e5;
//   margin-bottom: 10px;

//   Make the masthead heading the same height as the navigation
//   h3 {
//     margin-top: 0;
//     margin-bottom: 0;
//     line-height: 40px;
//     padding-bottom: 19px;
//   }
// }

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
}
