$primary-color: #103c93;
$secondary-color: #a6c0d5;
$yellow-button: #e69303;

.modal-btn-login {
  border: 1px solid $yellow-button;
  color: $yellow-button;
  background-color: white;
  text-align: right;

  &:hover {
    border: 1px solid black;
    color: black;
    background-color: lightgray;
  }
}

.modal-error-login {
  color: red;
  text-align: center;
}

.modal-header-login {
  text-align: center;
  color: $primary-color;
}

.modal-username-login, .modal-password-login {
  text-align: center;
  padding-bottom: 10px;
  input {
    background-color: lightgray;
  }
}

.modal-submit-login {
  text-align: right;
}


