$primary-color: #103c93;

.sessions-page {
  background-color: $primary-color;
}

.login-page {
  margin-top: 40px;
  .header-login {
    color: white;
  }

  .forgot-link {
    color: white;
    &:hover {
      color: lightgray;
    }
  }

  .username-login {
    margin: 10px 0;
  }
  
  .password-login {
    margin: 5px 0 5px 0;
  }

  .btn-login {
    background-color: $primary-color;
    margin-bottom: 10px;
    &:hover {
      color: $primary-color !important;
      border: 1px solid $primary-color !important;
      background-color: white;
    }
  }
}