$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$primary-color: #103c93;
$secondary-color: #a6c0d5;
$yellow-button: #e69303;

.registrations-page {
  background-color: $primary-color;
}

.sign-up {
  background: $primary-color;
  
  .submit-btn {
    margin-top: 15px;
    .btn-sign-up {
      margin-right: 10%;
      float: right;
    }
    .sign-up-tos {
      font-size: 10px;
      color: white;
      width: 35%;
      display: inline-block;
    }
  }

  .sign-up-info {
    margin-top: 40px;
  }

  .sign-up-form {
    @media (min-width: 992px) {  
      border-right: 1px solid white;
    }
    margin-bottom: 40px;
  }

  .sign-up-container { 
    margin-top: 40px;
  }

  .sign-up-header {
    color: white;
  }

  .sign-up-label {
    color: white;
  }
  
  .sign-up-form-item {
    input {
      width: 90%;
    }
  }

  .sign-in-reminder {
    color: white;
    font-size: 16px;
    .login-link {
      color: $secondary-color;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .easy-to-use-forms {
    margin-top: 50px;
    color: white;
    font-size: 16px;
    .easy-to-use-forms-caption {
      margin-left: 10px;
      display: inline-block;
    }
  }

  .paperless-files {
    font-size: 16px;
    margin-top: 50px;
    color: white;
    .paperless-files-caption {
      margin-left: 10px;
      display: inline-block;  
    }
  }
}