$primary-color: #103c93;
$secondary-color: #8ecdf8;
$yellow-button: #e69303;

.user-page {
  margin-top: 80px;
}

.user-picture-thumbnail {
  width: 92px;
}

.user-picture-container {
  margin-top: 20px;
}

.btn-signed-in {
  color: white;
  background-color: $primary-color;
}

.drop-box {
  width: 128px;
  height: 128px;
  background-color: $secondary-color;
  color: $primary-color;
}