<h1 class="modal-header-login">Login</h1>
<div class="modal-error-login">{{loginError}}</div>
<form ng-submit="loginForm(credentials)">
  <div class="modal-username-login">
    <input type="text" ng-model="credentials.username" placeholder="Username">
  </div>
  <div class="modal-password-login">
    <input type="password" ng-model="credentials.password" placeholder="Password">
  </div>

  <div class="modal-footer">
    <div class="modal-submit-login">
      <input class="btn modal-btn-login" type="submit" value="Login">
    </div>
    <a ng-href="#/forgot_password" ng-click="modalClose()" class="forgot-link">Forgot Password?</a>
    <a ng-href="#/forgot_username" ng-click="modalClose()" class="forgot-link">Forgot Username?</a>
  </div>
</form>
