<div class="container">
  <div class="row">
    <div class="login-page col-md-12">
      <h1 class="header-login">Login</h1>
      <div class="error-login">{{loginError}}</div>
      <form ng-submit="login(credentials)">
        <div class="username-login">
          <input type="text" ng-model="credentials.username" placeholder="Username">
        </div>
        <div class="password-login">
          <input type="password" ng-model="credentials.password" placeholder="Password">
        </div>
          <div class="submit-login">
            <input class="btn btn-login" type="submit" value="Login">
          </div>
          <div>
            <a ng-href="#/forgot_password" class="forgot-link">Forgot Password?</a>
          </div>
          <div>
            <a ng-href="#/forgot_username" class="forgot-link">Forgot Username?</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>