<h1>Add an Employee</h1>

<form ng-submit="addEmployee(employee)">
  <input type="email" ng-model="employee.email">
  <div class="btn-group">
    <label class="btn btn-success" ng-model="employee.role" btn-radio="'clinician'">Clinician</label>
    <label class="btn btn-success" ng-model="employee.role" btn-radio="'administrator'">Administrator</label>
  </div>
</form>