<div class="container">
  <div class="row">
    <div class="forgot col-md-12">
      <h1 class="forgot-label">Reset Your Password</h1>
      <form ng-submit="forgotPasswordReset(user)">
        <div class="forgot-password-username">
          <div class="forgot-password">
            <div class="forgot-label">password</div>
            <input type="password" ng-model="user.password">
          </div>
          <div class="forgot-password-confirmation">
             <div class="forgot-label">password confirmation</div>
            <input type="password" ng-model="user.password_confirmation">
          </div>
        </div>
          <input class="btn btn-forgot" type="submit" value="Reset Password">
      </form>
      <div class="forgot-error-message">
        {{errorMessage}}
      </div>
    </div>
  </div>
</div>