<div class="container">
  <div class="row">
    <div class="forgot col-md-12" ng-hide="emailSent">
      <h1 class="forgot-label">Forgot Your Password</h1>
      <form ng-submit="forgotPassword(user)">
        <div class="forgot-label">
          username
        </div>
        <input type="text" ng-model="user.username">

        <input class="btn btn-forgot" type="submit" value="Send Email">
      </form>
      <a ng-href="#/forgot_username" class="forgot-link">Forgot Your Username</a>
    </div>
  </div>
</div>