<div class="container">
  <div class="row">
    <div class="forgot col-md-12" ng-hide="emailSent">
      <h1 class="forgot-label">Forgot Your Username</h1>
      <form ng-submit="forgotUsername(user)">
        <div class="forgot-label">
          email
        </div>
        <input type="email" ng-model="user.email">

        <input class="btn btn-forgot" type="submit" value="Send Email">
      </form>
      <a ng-href="#/forgot_password" class="forgot-link">Forgot Your Password</a>
    </div>
  </div>
</div>