<div class="container">
  <div class="row">
    <div class="forgot col-md-12">
      <h1 class="forgot-label">Reset Your Username</h1>
      <form ng-submit="forgotUsernameReset(user)">
        <div class="forgot-username">
          <div class="forgot-label">username</div>
          <input type="text" ng-model="user.username">
        </div>
          <input class="btn btn-forgot" type="submit" value="Reset Username">
      </form>
      <div class="password-error-message">
        {{errorMessage}}
      </div>
    </div>
  </div>
</div>