<div class="container">
  <div class="col-xs-12 user-page"> 
    <img ng-src="{{currentUser.avatar}}" class="user-picture-thumbnail"/>
    <div class="user-picture-container">
      <div ng-file-select ng-file-drop ng-model="files" class="drop-box" 
          drag-over-class="dragover" ng-multiple="true" allow-dir="true"
          accept=".jpg,.png">Click or Drop Images here</div>
      <div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>
    </div>
  </div>
</div>