<div class="sign-up">
  <div class="container sign-up-container">
    <div class="row">
      <div class="col-md-8 sign-up-form">
        <h1 class="sign-up-header">Sign Up Now</h1>

        <form ng-submit="sendForm()">
          <div class="first-name-form sign-up-form-item">
            <div class="first-name-label sign-up-label">first name</div>
            <input type="text" ng-model="user.first_name">
          </div>

          <div class="last-name-form sign-up-form-item">
            <div class="last-name-label sign-up-label">last name</div>
            <input type="text" ng-model="user.last_name">
          </div>

          <div class="username-form sign-up-form-item">
            <div class="username-label sign-up-label">username</div>
            <input type="text" ng-model="user.username">
          </div>

          <div class="phone-number-form sign-up-form-item">
            <div class="phone-number-label sign-up-label">phone number</div>
            <input type="text" placeholder="(___) ___ - ____" ng-model="user.phoneNumber">
          </div>

          <div class="email-form sign-up-form-item">
            <div class="email-label sign-up-label">email</div>
            <input type="email" ng-model="user.email">
          </div>

          <div class="password-form sign-up-form-item">
            <div class="password-label sign-up-label">password</div>
            <input type="password" placeholder="case sensitive" ng-model="user.password">
          </div>

          <div class="password-confirmation-form sign-up-form-item">
            <div class="password-confirmation-label sign-up-label">password confirmation</div>
            <input type="password" placeholder="must match" ng-model="user.passwordConfirmation">
          </div>

          <div class="organization-name-form sign-up-form-item">
            <div class="organization-name-label sign-up-label">organization name</div>
            <input type="text" ng-model="organization.name">
          </div>

          <div ng-if="plan">
            <div class="credit-card-number sign-up-form-item">
              <div class="credit-card-number-label sign-up-label">credit card number</div>
              <input type="text" data-braintree-name="number" ng-model="creditCard.number">
            </div>

            <div class="expiration-date sign-up-form-item">
              <div class="expiration-date-label sign-up-label">expiration date</div>
              <input type="text" name="creditCardDate" data-braintree-name="expiration_date" ng-model="creditCard.expirationDate">
            </div>

            <div class="cvv sign-up-form-item">
              <div class="cvv-label sign-up-label">cvv</div>
              <input type="text" name="creditCardCvv" data-braintree-name="cvv" ng-model="creditCard.cvv">  
            </div>
          </div>

          <div class="submit-btn">
            <input type="submit" class="btn btn-yellow btn-sign-up" value="SIGN UP NOW">
            <div class="sign-up-tos">By signing up, you acknowledge you have read and agree to the <div>Terms of Service.</div></div>
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <div class="sign-up-info">
          <div class="sign-in-reminder">
            Already have an account?
            <div class="login-link" ng-click="openLoginModal()" ng-controller="SessionsController">
              Sign In.
            </div>
          </div>

          <div class="easy-to-use-forms">
            <img src="images/easy_to_use_forms.png" alt="">
            <div class="easy-to-use-forms-caption">
              Easy to Use 
              <div class="easy-to-use-forms-forms">
              Forms  
              </div>
            </div>
          </div>

          <div class="paperless-files">
            <img src="images/paperless_files.png" alt="">
            <div class="paperless-files-caption">
              Paperless Files
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>