<!doctype html>
<html class="no-js" ng-app="nurseLolaAngularApp" ng-controller='ApplicationController'>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <base href="/">
  </head>
  <body ng-class="{{pageClass}}">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-controller="NavigationController">
      <ng-include src="navigationTemplateUrl"></ng-include>
    </div>
    
    <div class="application">
        <div ng-view></div>
    </div>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/braintree-angular/braintree-angular.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload.min.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/constants.js"></script>

    <script src="scripts/factories/authService.js"></script>

    <script src="scripts/services/session.js"></script>
    <script src="scripts/services/registration.js"></script>

    <script src="scripts/controllers/application.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/registrations.js"></script>
    <script src="scripts/controllers/sessions.js"></script>
    <script src="scripts/controllers/logins.js"></script>
    <script src="scripts/controllers/navigation.js"></script>
    <script src="scripts/controllers/dashboard.js"></script>
    <script src="scripts/controllers/forgot.js"></script>
    <script src="scripts/controllers/employees.js"></script>
    <script src="scripts/controllers/users.js"></script>
</body>
</html>
