<div class="homepage">
  <div class="homepage-top">
    <div class="container">
      <div class="title">Nurse Lola</div>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae lacus vitae odio viverra pretium eget id odio. Vivamus at finibus elit. Proin consectetur purus ex, in gravida lorem feugiat eu. Curabitur turpis leo, rhoncus ac condimentum id, condimentum et diam. Nulla vehicula quam risus. In hac habitasse platea dictumst. Proin eget lorem orci. Donec maximus porttitor auctor. Mauris eu feugiat arcu.
      </p>
      <p><a class="btn btn-yellow" ng-href="#/users/new">SIGN UP NOW</a></p>
      <div class="marketing">
        <div class="scroll-to-homepage-two">
          <div class="learn-more">learn more</div>
          <i class="fa fa-angle-double-down fa-2x learn-more-double-caret"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="homepage-two">
    <div class="container">
      <i class="fa fa-circle-thin halo fa-3x"></i>
      <div class="title">We're Great</div>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae lacus vitae odio viverra pretium eget id odio. Vivamus at finibus elit. Proin consectetur purus ex, in gravida lorem feugiat eu. Curabitur turpis leo, rhoncus ac condimentum id, condimentum et diam. Nulla vehicula quam risus. In hac habitasse platea dictumst. Proin eget lorem orci. Donec maximus porttitor auctor. Mauris eu feugiat arcu.
      </p>

      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae lacus vitae odio viverra pretium eget id odio. Vivamus at finibus elit. Proin consectetur purus ex, in gravida lorem feugiat eu. Curabitur turpis leo, rhoncus ac condimentum id, condimentum et diam. Nulla vehicula quam risus. In hac habitasse platea dictumst. Proin eget lorem orci. Donec maximus porttitor auctor. Mauris eu feugiat arcu.
      </p>
      <div class="marketing">
        <i class="fa fa-angle-double-down fa-3x learn-more-double-caret"></i>
      </div>
    </div>
  </div>

  <div class="homepage-three">
    <div class="container">
      <i class="fa fa-circle-thin halo fa-3x"></i>
      <div class="homepage-three-content">
        <div class="row">
          <div class="col-md-8">
            <div class="title">We're Great</div>
            <p class="lead">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae lacus vitae odio viverra pretium eget id odio. Vivamus at finibus elit. Proin consectetur purus ex, in gravida lorem feugiat eu. Curabitur turpis leo, rhoncus ac condimentum id, condimentum et diam. Nulla vehicula quam risus. In hac habitasse platea dictumst. Proin eget lorem orci. Donec maximus porttitor auctor. Mauris eu feugiat arcu.
            </p>
            <p class="lead">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non nisl non enim consectetur consectetur. Quisque eu diam eu eros viverra scelerisque ut eu.
            </p>
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
      <div class="marketing">
        <i class="fa fa-angle-double-down fa-3x learn-more-double-caret"></i>
      </div>
    </div>
  </div>

  <div class="homepage-four">
    <div class="container">
      <i class="fa fa-circle-thin halo fa-3x"></i>
      <div class="title">Unlimited Healthcare Forever</div>
      <div class="homepage-four-content">
        <div class="row">

          <div class="col-md-4">
            <div class="homepage-plan">
              <div class="homepage-plan-inner">
                <div class="homepage-plan-title">Individual</div>
                <div class="plan-description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non nisl non enim consectetur consectetur. Quisque eu diam eu eros viverra scelerisque ut eu.
                </div>
              </div>
              <a ng-href="#/users/new?plan=individual">
                <div class="plan-price-homepage btn-plan btn-yellow plan-free">Free<div class="fa fa-angle-right right-side-arrow-plan"></div></div>
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="homepage-plan">
              <div class="homepage-plan-inner">
                <div class="homepage-plan-title">Team</div>
                <div class="plan-description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non nisl non enim consectetur consectetur. Quisque eu diam eu eros viverra scelerisque ut eu.
                </div>
              </div>
              <a ng-href="#/users/new?plan=team">
                <div class="plan-price-homepage btn-plan btn-yellow plan-team">$25<div class="fa fa-angle-right right-side-arrow-plan"></div></div>
              </a>
            </div>
          </div>

          <div class="col-md-4">
            <div class="homepage-plan">
              <div class="homepage-plan-inner">
                <div class="homepage-plan-title">Enterprise</div>
                <div class="plan-description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non nisl non enim consectetur consectetur. Quisque eu diam eu eros viverra scelerisque ut eu.
                </div>
              </div>
              <a ng-href="#/users/new?plan=enterprise">
                <div class="plan-price-homepage btn-plan btn-yellow plan-enterprise">$999<div class="fa fa-angle-right right-side-arrow-plan"></div></div>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="homepage-five">
    <div class="container">
      <i class="fa fa-circle-thin halo fa-3x"></i>
      <div class="homepage-three-content">
        <div class="title">Q &amp; A</div>
        <div class="row">
          <div class="col-md-6">
            <p class="question">
              Why do I need Lola?
            </p>
            <p class="answer">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non nisl non enim consectetur consectetur. Quisque eu diam eu eros viverra scelerisque ut eu.
            </p>
            <p class="question">
              What should I do?
            </p>
            <p class="answer">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non nisl non enim consectetur consectetur. Quisque eu diam eu eros viverra scelerisque ut eu.
            </p>
            <p class="question">
              Why do I need Lola?
            </p>
            <p class="answer">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non nisl non enim consectetur consectetur. Quisque eu diam eu eros viverra scelerisque ut eu.
            </p>
          </div>
          <div class="col-md-6 q_and_a">
            <p class="question">
              Why do I need Lola?
            </p>
            <p class="answer">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non nisl non enim consectetur consectetur. Quisque eu diam eu eros viverra scelerisque ut eu.
            </p>
            <p class="question">
              What should I do?
            </p>
            <p class="answer">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non nisl non enim consectetur consectetur. Quisque eu diam eu eros viverra scelerisque ut eu.
            </p>
            <p class="question">
              Why do I need Lola?
            </p>
            <p class="answer">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non nisl non enim consectetur consectetur. Quisque eu diam eu eros viverra scelerisque ut eu.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer bottom-of-page"></div>
</div>
