<div class="header logged-in-navigation">
  <div class="navbar navbar-default navbar-fixed-top navbar-logged-in" role="navigation">
    <div class="">
      <ng-include src="'views/sidebar.html'"></ng-include>
      
      <div class="sidebar-hidden navigation-bar">
        <ul class="nav pull-left logged-in-list search-bar">
          <li class="search-label navbar-list-dropdown">
            <i class="fa fa-search search-logged-in-icon left-nav-font" ng-click="searchClick()"></i>
            <form class="search-form" id='search-form' >
              <input type="text" class="search-box search-box-logged-in" placeholder="search">
            </form>
          </li>
        </ul>

        <ul class="nav pull-right logged-in-list logged-in-right">
          <li class="navbar-list-dropdown settings-button">
            <div dropdown is-open="status.isOpenSettings">
              <div type="button" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                <i class="fa fa-wrench settings-icon"></i>
                <span class="logged-in-right-text">
                  settings
                </span>
              </div>
              <ul class="dropdown-menu hover-list" role="menu">
                <li><a ng-href="#/users/edit">{{currentUser.username}}</a></li>
                <li><a ng-click="logout()" ng-controller="SessionsController">Logout</a></li>
              </ul>
            </div>
          </li>
          <li class="navbar-list-dropdown">
            <i class="fa fa-question-circle help-icon"></i>
            <span class="logged-in-right-text">
              help
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
