<div class="header logged-out-navigation">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand lola-brand lola-brand-logged-out" ng-href="#/">Lola</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
          <li class="search-label">
            <i class="fa fa-search"></i>
            <form action="" class="search-form">
              <input type="text" class="search-box" placeholder="search">
            </form>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div class="btn-login pull-right" ng-click="openLoginModal()" ng-controller="SessionsController">login</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>