<div class="sidebar">
  <div class="hamburger-icon" ng-click="expandSidebar()">
    <i class="fa fa-bars fa-2x"></i>
  </div>

  <div class="sidebar-extra">
    <div class="brand-container">
      <a class="lola-brand lola-brand-logged-in" ng-href="#/">Lola</a>
    </div>

    <accordion close-others="true">
      <div class="sidebar-organization" ng-repeat="organization in organizations">
        <accordion-group heading="{{organization.name}}" is-open="$first" is-disabled="false">
          <ul class="sidebar-list">
            <li class="sidebar-item"><a ng-href="#/organizations/{{organization.id}}/notes">Notes</a></li>
            <li class="sidebar-item">Messages</li>
            <li class="sidebar-item">Schedule</li>
            <li class="sidebar-item">Nurses</li>
            <li class="sidebar-item">Admins</li>
            <li class="sidebar-item">Patients</li>
            <li class="sidebar-item">Reports</li>
          </ul>
        </accordion-group>
      </div>
    </accordion>
  </div>
</div>
